body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
@media (max-width: 576px) { 
    .wrap{
        background: url('../images/bg.jpeg') no-repeat center;

        min-height: 100vh;
        background-size: cover;
        padding: 10px;
    }
    .header_info {
        border: 5px solid white;
        padding: 10px;
    }
    .header_container{
        padding: 60px 20px;
        background: white;
        text-align: center;

    }
    h1{
        font-family: 'Dancing Script', cursive;
        font-size: 35px;
        font-weight: bold;
        
    }
    span{
        font-size: 21px;
        font-family: 'Dancing Script', cursive;
        display: block;
        margin: 10px 0;
    }
    h3{
        font-size: 21px;
        font-family: 'Dancing Script', cursive;
        margin-top: 20px;
    }
    .main_img{
        border: 5px solid white;
        margin-top: 30px;
    }
    img{
        width: 100%;
    }
    .main_button{
        margin-top: 40px;
    }
    
    
    
    .we{
        font-size: 19px;
        margin: 20px 0;
    }
    h5{
        font-size: 19px;
        margin-top: 20px;
    }
    .set{
        position: relative;
        width: 100%;
        height: auto;

    }
      .set > a{
        display: block;
        text-decoration: none;
        font-weight: 600;
        border-bottom: 1px solid #ddd;
        -webkit-transition:all 0.2s linear;
        -moz-transition:all 0.2s linear;
        transition:all 0.2s linear;
        background: #d3c2c294;
        text-align: center;
        padding: 15px;
        font-family: 'Dancing Script', cursive;
        font-size: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 2px solid white;
        color: white;
        cursor: pointer;
        text-transform: capitalize;
        margin-bottom: 40px;
      }
      .set > a i{
        float: right;
        margin-top: 2px;
      }
      .set > a.active{
        background-color:#3399cc;
        color: #fff;
      }
      .content{
        display:none;
        padding: 20px 39px;
        color: white;
        text-align: center;
        font-family: 'Dancing Script', cursive;
      }
      .content p{
        line-height: 30px;
        font-size: 19px;
      }
      .img-thumbnail{
        width: 300px;
        height: auto;
        margin-right: 2em;
        box-shadow: 0 1px 1px rgba(0,0,0,0.12), 
                    0 2px 2px rgba(0,0,0,0.12),
                    0 4px 4px rgba(0,0,0,0.12),
                    0 8px 8px rgba(0,0,0,0.12),
                    0 16px 16px rgba(0,0,0,0.12);
      }


     .container{
        display:flex;
        justify-content:center;
        align-items:center;
      }
      div#lightgallery {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    
}